

/* details page specific */

/* ------------------------------------------------ */

#place-for-content-details-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.15rem;
    background-color: rgb(251, 251, 251);
    border: solid 1px lightgray;
    border-radius: 20px;
}

#page-title h1 {
    padding: 1rem;
    margin: auto;
}

#place-for-content-details-page img {
    width: 720px;
    height: auto;
    margin-left: 1rem;
    padding: 0rem;
    border-radius: 0rem 0rem 1.2rem 0rem;
}

#gallery div {
    display: flex;
    flex-direction: row;

    gap: .75em;
}

#gallery div img {
    width: 250px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

/* ------------------------------------------------ */